<!-- navbar-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">HOME</a>
  </div>
</nav>

<!-- main content -->
<div class="container">
<!-- contact -->
  <div class="page-header">
    <p></p><h1>연락해주세요</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a href="zebrain0448@gmail.com"><img src="/assets/img/gmaillogo.png"></a>
    </div>
    <div class="col-md-6">
      <a href="https://www.facebook.com/jinwook.you.75"><img src="/assets/img/facebooklogo.png"></a>
    </div>
  </div>
</div
