<!-- navbar-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">HOME</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="menu-item"><a href="#edm-header">EDM</a></li>
      <li class="menu-item"><a href="#games-header">Games</a></li>
    </ul>
  </div>
</nav>
  
<!-- main content -->
<div class="container">
<!-- EDM -->
  <div id="edm-header" class="page-header">
    <p></p><h1>Electronic Dance Music</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
    <img src="/assets/img/edm.jpg" class="center-block">
    <br>
    <iframe class="center-block" width="550" height="70" src="https://www.youtube.com/embed/B14hMA8XxgM" frameborder="0" allowfullscreen></iframe>
    <h2 class="text-center">요즘 자주 듣습니다</h2>
    </div>
    <div class="col-md-4">
    <img src="/assets/img/dudumchit.png" class="center-block">
    </div>
  </div>
  
  <!-- Games -->
  <div id="games-header" class="page-header">
    <p></p><h1>게임을 모으는 게임, 그것이 Steam입니다.</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img href="http://www.store.steampowered.com" src="/assets/img/Steamlogo.png" class="center-block">
    </div>
    <div class="col-md-4">
      <h2>Steam, by Valve corp.</h2>
      <p>일반인이었던 필자를 게임폐인으로 만든 그것, Steam.</p>
      <p>라이브러리 수와 플레이 타임이 이를 입증합니다.</p>
      <br><br>
      <h2>함께하면 좋습니다.</h2>
      <p>[KOR]zebrain0448</p>
      <p>제 Steam 계정입니다. 같이 해요 :)</p>
    </div>
    <div class="col-md-4">
      <img src="http://media.giphy.com/media/MYnWZ6s2t6npS/giphy.gif" class="center-block">
      <h2 class="text-center">높은 할인율, 낮은 통장 잔고.</h2>
    </div>
  </div>
  <div class="page-header">
    <h1>진정한 게이머는 플랫폼을 넘나들기 마련입니다.</h1>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="/assets/img/originlogo.jpeg" class="center-block">
    </div>
    <div class="col-md-4">
      <h2>Origin, by EA</h2>
      <p>zebrain0448</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/img/uplaylogo.jpg" class="center-block">
    </div>
    <div class="col-md-4">
      <h2>Uplay, by Ubisoft</h2>
      <p>zebrain0448</p>
    </div>
  </div>
</div>