<!-- navbar-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">HOME</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="menu-item"><a href="#iamyou-header">I am YOU!</a></li>
      <li class="menu-item"><a href="#photos-header">Photos</a></li>
    </ul>
  </div>
</nav>
  
<!-- main content -->
<div class="container">
<!-- iamyou -->
  <div id="iamyou-header" class="page-header">
    <p></p><h1>I am YOU! 劉!</h1>
  </div>
  <div class="row">
    <div id="profile-description" class="col-md-6">
    <img id="profile-photo" src="/assets/img/profile.jpg" class="img-circle center-block">
      <h2 class="text-center">劉晋旭 a.k.a 유진욱</h2>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">이름에 철학을 담다</h2>
      <p class="text-center">강릉  유씨, 劉입니다.</p>
      <p class="text-center">나아갈 진, 晋. 햇살 치밀 욱, 旭.</p>
      <p class="text-center"><strong>햇살을 치밀고 나아가라</strong>는 말입니다.</p>
      <p class="text-center">뉘앙스를 모르겠는 건 <strong>기분탓</strong>입니다.</p>
      <br><br>
      <h2 class="text-center">지금은</h2>
      <p class="text-center">건국대학교 컴퓨터공학부 재학중입니다.</p>
      <p class="text-center">새천년관에 서식중.</p>
      <p class="text-center"><strong>15</strong>학번입니다.</p>
      <p class="text-center"><strong>20살</strong> 맞습니다. 어린 척 하는 거 아닙니다.</p>
    </div>
  </div>
  
  <!-- photos -->
  <div id="photos-header" class="page-header">
    <p></p><h1>Photos</h1>
  </div>
  <div class="row">
    <div class="col-md-4 thumbnail">
    <img src="/assets/img/photo1.jpg" class="center-block">
      <h4 class="text-center">좀 많이 컸습니다.</h4>
    </div>
    <div class="col-md-4 thumbnail">
      <img src="/assets/img/photo2.jpg" class="center-block">
      <h4 class="text-center">멜로디언은 나의 친구</h4>
    </div>
    <div class="col-md-4 thumbnail">
      <img src="/assets/img/photo3.jpg" class="center-block">
      <h4 class="text-center">이렇게 컸습니다.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 thumbnail">
    <img src="/assets/img/photo4.jpg" class="center-block">
      <h4 class="text-center">컨셉샷.jpg</h4>
    </div>
    <div class="col-md-4 thumbnail">
      <img src="/assets/img/photo5.jpg" class="center-block">
      <h4 class="text-center">요즘은 이렇습니다.</h4>
    </div>
    <div class="col-md-4 thumbnail">
      <img src="/assets/img/photo6.jpg" class="center-block">
      <h4 class="text-center">아버지광대승천.jpg</h4>
    </div>
  </div>
</div>